* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

@font-face {
  font-family: "hkgrotesk";
  src: url("../fonts/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "locl" 0;
  font-display: swap;
}

.container {
  max-width: 1140px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

hr {
  border: 1px solid #E5EAF4;
}

button {
  outline: none;
}

.modal__log {
  display: none;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10000;
}

.modal__log::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 60%;
  background-color: #1565D8;
}

.modal__log--box {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgda(1, 1, 1, 1);
  width: 250px;
  height: 250px;
  left: 50%;
  z-index: 1000;
}

.modal__log--close {
  width: 25px;
  height: 25px;
  position: absolute;
  border: none;
  border-radius: 8px;
  top: 5px;
  right: 5px;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: Transparent;
}

.modal__log--close__svg {
  object-fit: fill;
}

.modal__log--form {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 12px;
}

.modal__log--form__phone {
  position: relative;
  border-radius: 8px;
  margin: 35px auto 0;
  width: 94%;
  height: 46px;
}

.modal__log--form__password {
  position: relative;
  width: 94%;
  height: 46px;
  margin: 30px auto 0;
  border-radius: 8px;
  border: 1px solid black;
}

.modal__log--form__button {
  border-radius: 8px;
  border-color: blue;
  width: 95%;
  height: 36px;
  margin: 10px auto 0;
}

.modal__log--form__button--text {
  color: blue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.modal__log--form > .error {
  position: relative;
}

.modal__log--registr {
  justify-content: center;
  margin: auto;
}

.modal__log--registr__text {
  color: #183B56;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__log--activ {
  display: flex;
}

.email {
  margin-top: 14px;
  background: #1565D8;
  display: flex;
  height: 100%;
  position: relative;
}

.email__container {
  max-width: 100%;
  background: #1565D8;
  height: 338px;
}

.email__imput {
  position: relative;
  margin-top: 140px;
  margin-left: 193px;
  width: 447px;
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
}

.email__input {
  z-index: 99;
  padding-left: 48px;
  padding-right: 190px;
  width: 100%;
  height: 100%;
}

.email__input--button {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  right: 4.5px;
  width: 177px;
  height: 47px;
  background: #183B56;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.email__input--button__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.email__input--img {
  object-fit: fill;
  left: 20px;
  top: 20px;
  bottom: 18px;
  z-index: 10;
  position: absolute;
  width: 16px;
  height: 18px;
}

.email__text {
  margin-top: 42px;
  margin-left: 150px;
  width: 436px;
}

.email__text--title {
  margin: 52px 0 0;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.email__text--txt {
  margin: 19px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.email__svg {
  width: 41%;
  position: absolute;
  z-index: 1;
}

.email__svg--1 {
  z-index: 1;
  position: absolute;
  right: 0;
  width: 36%;
}

.error {
  top: 0;
  position: absolute;
  z-index: 10;
  color: red;
}

.header {
  padding: 26px 0;
}

.header__mobail {
  display: none;
  position: absolute;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav--link {
  display: flex;
  margin-right: 50px;
  flex-wrap: nowrap;
}

.header__logo {
  margin-left: 4px;
  max-width: 90px;
  max-height: 28px;
  margin-right: 393px;
}

.header__link {
  justify-content: center;
}

.header__text {
  margin-left: 3px;
  margin-right: 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.header__text--contact {
  margin-left: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.header__button {
  margin-left: -37px;
  width: 101px;
  height: 48px;
  padding: 11px 22px;
  border: 2px solid #1565D8;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  color: #1565D8;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.selection {
  margin-top: 38px;
  width: 100%;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.selection__container {
  max-width: 1280px;
}

.selection__img {
  z-index: -10;
  position: absolute;
  top: -444px;
  bottom: -380px;
  right: -546px;
  left: 6px;
}

.selection__img--photo {
  position: relative;
  width: 100%;
  height: 100%;
  object-position: -176px 102px;
  transform: scaleX(0.5) scaleY(0.5);
  object-fit: fill;
}

.selection__img::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 399px;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%);
}

.selection__button--ready {
  margin-left: 115px;
  margin-top: 60px;
  width: 175px;
  height: 32px;
  color: #36B37E;
  background-color: rgba(54, 179, 126, 0.1);
  border: none;
  border-radius: 2000px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #36B37E;
}

.selection__button--sel {
  width: 259px;
  height: 55px;
  background: #183B56;
  border: none;
  border-radius: 8px;
  margin: 50.5px 0 0 0;
  margin-left: 116px;
  cursor: pointer;
}

.selection__button--sel__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.selection__title {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #183B56;
  max-width: 425px;
  margin: 21px 0 0 0;
  margin-left: 118px;
}

.selection__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  max-width: 652px;
  margin: 36px 0 0 0;
  margin-left: 116px;
}

.selection__text--blok {
  display: flex;
}

.selection__text--button {
  padding: 0;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  border: 0.5px solid #1565D8;
  margin-right: 0 8px;
}

.selection__text--link {
  align-items: center;
  align-content: center;
  height: 36px;
}

.prise {
  display: flex;
  width: 446px;
  height: 36px;
  margin-top: 49.5px;
  margin-left: 115px;
  margin-bottom: 46px;
}

.prise__button {
  padding: 0;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.prise__box {
  display: flex;
  align-items: center;
  max-width: 163px;
  height: 36px;
  margin-right: 33px;
}

.prise__text {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.modal-header {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 304px;
  height: 324px;
  padding: 36px 24px;
  background: #FFFFFF;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  display: none;
}

.modal-header--visible {
  display: flex;
}

.modal__close {
  position: absolute;
  right: 16px;
  top: 12px;
  border: none;
}

.modal__blok {
  display: none;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal__button {
  width: 256px;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid #1565D8;
  cursor: pointer;
}

.modal__button--text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1565D8;
}

.modal__menu {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #183B56;
}

.advant {
  display: flex;
  margin-top: 120px;
}

.advant__img {
  margin-left: 8px;
  height: 490px;
  min-width: 320px;
  overflow: hidden;
  margin-right: 30px;
  border-radius: 8px;
}

.advant__img--mine {
  top: 260px;
  left: 350px;
  width: 320px;
  height: 230px;
  overflow: hidden;
  border-radius: 8px;
}

.advant__img--mini {
  left: 350px;
  width: 320px;
  height: 230px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 8px;
}

.advant__info {
  max-width: 412px;
  height: 426px;
  margin-left: 57px;
}

.advant__info--text {
  width: 392px;
  height: 225px;
  margin-top: 31px;
  margin-bottom: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.advant__info--title {
  width: 412px;
  height: 120px;
  margin-top: 3px;
  margin-bottom: 0;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.advant__info--link {
  margin-left: 1px;
  display: flex;
  align-items: center;
  width: 259px;
  height: 25px;
  font-style: normal;
  text-align: center;
  color: #1565D8;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #1565D8;
}

.advant__info--icon {
  display: flex;
  max-width: 13px;
  max-height: 16px;
  margin-left: 19px;
}

.trend {
  margin-top: 145px;
}

.trend__container {
  max-width: 1135px;
}

.trend__header {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.trend__header--title {
  min-width: 172px;
  height: 60px;
  margin-top: -7px;
  margin-bottom: 0;
  margin-right: 680px;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-left: 9px;
}

.trend__header--text {
  display: flex;
  justify-content: space-between;
  max-height: 25px;
  margin-right: 38px;
  min-width: 285px;
  max-width: 285px;
  margin-top: 10px;
}

.trend__header--txt {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #5A7184;
}

.trend__card {
  margin-right: 31px;
  width: 260px;
  height: 441px;
  margin-bottom: 50px;
}

.trend__card--img {
  width: 260px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.trend__card--title {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 18px;
  margin-bottom: 3px;
  margin-left: 10px;
  height: 32px;
}

.trend__card--photo {
  object-position: 43% 50%;
}

.trend__card--photo__1 {
  object-position: 50% -170%;
  transform: scale(2, 2);
  margin-left: 22px;
}

.trend__card--photo__2 {
  object-position: 50% -65%;
  transform: scale(-1.5, 1.5);
  margin-left: -2px;
}

.trend__card--photo__3 {
  object-position: 50% 75%;
}

.trend__card--photo__4 {
  object-position: 50% -28%;
  margin-left: 8px;
  transform: scale(1.5, 1.5);
}

.trend__card--photo__5 {
  object-position: 50% -193%;
  margin-left: 5px;
  transform: scale(1.2, 1.2);
}

.trend__card--photo__6 {
  object-position: 50% -206%;
  margin-left: 4px;
  transform: scale(2, 2);
}

.trend__card--prise {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
}

.trend__card--prise__li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-left: 10px;
}

.trend__card--prise__ico {
  cursor: pointer;
  margin-right: 10px;
  width: 23px;
  height: 32px;
}

.trend__card--prise__ico--ico {
  object-fit: none;
}

.trend__card--mini {
  margin-left: -2px;
  min-width: 260px;
  height: 350px;
  background-color: #1565D8;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.trend__card--mini__img {
  position: absolute;
  width: 28px;
  right: 116px;
  bottom: 120px;
  height: 31px;
  top: 123px;
  left: 114px;
}

.trend__card--mini__img--svg {
  object-fit: fill;
}

.trend__card--mini__text {
  top: 182px;
  left: 23px;
  right: 22px;
  width: 216px;
  position: absolute;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.trend__flex {
  width: 100%;
  height: 497px;
  padding-left: 12px;
}

.trend__flex--wrap {
  width: 100%;
  display: flex;
}

.comit {
  margin-top: 582px;
  margin-bottom: 79px;
}

.comit__container {
  width: 800px;
  min-height: 100%;
}

.comit__img {
  margin: auto;
  justify-content: center;
  width: 80px;
  height: 92px;
}

.comit__img--icon {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-left: 9px;
}

.comit__text {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
  color: #183B56;
}

.comit__title {
  margin-top: 28px;
  margin-left: 11px;
  margin-bottom: 53px;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #183B56;
}

.swiper-pagination-bullet {
  color: #B3BAC5;
  border-radius: 2000px;
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  width: 5px;
  height: 5px;
  background: #183B56;
  border-radius: 50%;
}

.history {
  display: flex;
  flex-direction: row;
  height: 606px;
  margin-top: 126px;
}

.history__swiper-container {
  display: flex;
  justify-content: space-between;
  height: 475px;
  width: 650px;
  margin-top: 5px;
  margin-left: 101px;
}

.history__cards {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.history__card {
  justify-content: center;
  width: 312px;
  height: 475px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.history__card--img {
  width: 312px;
  height: 317px;
}

.history__card--prise {
  padding-top: 17px;
  padding-left: 21px;
  top: 298px;
  left: 10px;
  width: 312px;
  position: absolute;
  min-height: 178px;
  background-color: #fff;
}

.history__card--prise__text {
  width: 259px;
  font-family: "hkgrotesk";
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.history__card--prise__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
}

.history__info {
  padding-left: 5px;
  width: 392px;
}

.history__info--button {
  margin-left: 7px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #36B37E;
}

.history__info--text {
  margin-top: 31px;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.history__info--title {
  margin-top: 28px;
  margin-bottom: 24px;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.history-button {
  margin-top: 46px;
  width: 56px;
  height: 56px;
  border: none;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 2000px;
}

.history-button--next {
  padding: 0;
  border: 2px solid #959EAD;
  box-sizing: border-box;
  border-radius: 2000px;
  transform: scale(-1, -1);
  background-image: url(../img/icon/button-left.svg);
  background-position: center;
  background-position-y: -3px;
}

.history-button--prev {
  margin-right: 16px;
  width: 54px;
  padding: 0;
  object-fit: fill;
  border: 2px solid #959EAD;
  box-sizing: border-box;
  border-radius: 2000px;
  background-position: center;
  background-position-y: -3px;
  background-image: url(../img/icon/button-left.svg);
}

@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .header__logo {
    margin-right: 380px;
  }
  .selection {
    max-width: 1100px;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 986px;
  }
  .trend__flex--wrap {
    flex-wrap: wrap;
  }
  .header__logo {
    margin-right: 180px;
  }
  .selection__button--ready {
    z-index: 10;
  }
  .advant {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advant__img {
    width: 322px;
    height: 490px;
  }
  .advant__img--mine {
    width: 320px;
    height: 230px;
  }
  .advant__img--mini {
    width: 320px;
    height: 230px;
  }
  .advant__info {
    margin-top: 40px;
    max-width: 672px;
    height: 277px;
  }
  .advant__info--title {
    width: 565px;
    margin-top: 40px;
  }
  .advant__info--text {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 672px;
    height: 150px;
  }
  .trend {
    margin-top: 180px;
  }
  .trend__flex {
    padding: 0;
  }
  .trend__flex--wrap {
    justify-content: center;
  }
  .trend__header {
    justify-content: space-between;
  }
  .trend__header--title {
    margin-right: 50px;
  }
  .trend__card {
    width: 200px;
    margin-right: 20px;
  }
  .trend__card--img {
    width: 200px;
  }
  .trend__card--photo {
    transform: none;
  }
  .trend__card--photo__1 {
    transform: none;
    margin-left: 0;
  }
  .trend__card--prise {
    width: 100%;
  }
  .trend__card--mini {
    min-width: 200px;
  }
  .trend__card--mini__img {
    left: 50%;
    transform: translateX(-50%);
  }
  .trend__card--mini__text {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .comit {
    margin-top: 1379px;
  }
  .history__swiper-container {
    margin-left: 30px;
  }
  .history__card {
    width: 280px;
  }
  .email__container {
    max-width: 1024px;
  }
  .email__imput {
    margin-left: -39px;
  }
}

@media (max-width: 986px) {
  container: 650px;
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  .header {
    max-width: 650px;
    margin: auto;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav {
    position: relative;
  }
  .header__nav--link {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__mobail {
    display: flex;
    width: 22px;
    right: 0;
    height: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }
  .header__mobail--button {
    height: 2px;
    width: 24px;
    background-color: #3A4C66;
  }
  .selection {
    margin-top: 22px;
  }
  .selection__img {
    top: -0px;
    right: -160px;
    height: 102%;
  }
  .selection__img--photo {
    object-position: 17px -13px;
    transform: none;
  }
  .selection__img::after {
    left: 0;
  }
  .selection__title {
    font-family: "hkgrotesk";
    max-width: 365px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #183B56;
    margin-top: 19px;
    margin-left: 28px;
  }
  .selection__text {
    max-width: 407px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-top: 25px;
    margin-left: 27px;
  }
  .selection__button--ready {
    margin-top: 36px;
    margin-left: 28px;
  }
  .selection__button--sel {
    margin-left: 29px;
    margin-top: 36px;
  }
  .prise {
    margin-top: 36px;
    margin-left: 28px;
  }
  .prise__box {
    margin-top: 5px;
    margin-right: 22px;
  }
  .advant {
    margin-top: 74px;
    justify-content: center;
  }
  .advant__img {
    width: 322px;
    height: 490px;
    margin-right: 30px;
    flex-wrap: nowrap;
  }
  .advant__img--mine {
    margin-left: 0;
    width: 320px;
    height: 230px;
  }
  .advant__img--mini {
    width: 320px;
    height: 230px;
  }
  .advant__info {
    margin-left: 0;
  }
  .advant__info--title {
    margin-top: 0;
    height: 60px;
  }
  .advant__info--text {
    height: 144px;
  }
  .advant__info--link {
    width: 260px;
  }
  .trend {
    margin-top: 82px;
  }
  .trend__header {
    flex-direction: column;
  }
  .trend__header--title {
    margin-right: 0;
  }
  .trend__header--text {
    width: 285px;
    margin: 32.5px 0 auto;
  }
  .trend__card {
    margin-left: 48px;
    margin-right: 0;
    margin-bottom: 48px;
    width: 280px;
  }
  .trend__card--prise {
    width: 100%;
  }
  .trend__card--img {
    width: 280px;
    height: 350px;
  }
  .trend__card--mini {
    width: 280px;
    height: 350px;
    margin-left: 48px;
  }
  .trend__card--mini__text {
    top: 180px;
    width: 78%;
  }
  .trend__card--title {
    margin-top: 18px;
  }
  .trend__card--photo {
    object-position: 100% 50%;
  }
  .trend__card--photo__1 {
    object-position: 50% -85%;
    transform: scale(2, 2);
    margin-left: 22px;
  }
  .trend__card--photo__2 {
    object-position: 50% -26%;
    transform: scale(-1.5, 1.5);
    margin-left: -21px;
  }
  .trend__card--photo__3 {
    object-position: 50% 76%;
    transform: scale(1.25, 1.25);
    margin-left: -12px;
  }
  .trend__card--photo__4 {
    object-position: 50% 9%;
    margin-left: -7px;
    transform: scale(1.1, 1.1);
  }
  .trend__card--photo__5 {
    object-position: 50% -92%;
    margin-left: 14px;
    transform: scale(2, 2);
  }
  .trend__card--photo__6 {
    object-position: 50% -99%;
    margin-left: -8px;
    transform: scale(1.75, 1.75);
  }
  .trend__flex {
    margin-top: 55px;
    width: 668px;
  }
  .trend__flex--wrap {
    padding-left: 12px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .comit {
    margin-top: 1491px;
  }
  .comit__img--icon {
    margin-left: 0;
  }
  .comit__container {
    width: 630px;
  }
  .comit__text {
    margin-top: 28px;
  }
  .comit__title {
    margin-bottom: 33px;
  }
  .history-container {
    min-width: 728px;
    max-width: 728px;
  }
  .history {
    margin-top: 42px;
    height: 887px;
    display: flex;
    flex-direction: column;
  }
  .history-button {
    margin-top: 17px;
    width: 134px;
    display: flex;
    justify-content: space-between;
  }
  .history-button--prev {
    object-fit: none;
    width: 56px;
    height: 56px;
  }
  .history-button--next {
    object-fit: none;
    width: 56px;
    height: 56px;
  }
  .history__swiper-container {
    width: 672px;
    margin-left: 23px;
    margin-top: 123px;
    display: flex;
    justify-content: space-between;
  }
  .history__card {
    width: 322px;
  }
  .history__card--img {
    width: 322px;
  }
  .history__card--img__img {
    min-width: 100%;
    max-width: 100%;
  }
  .history__card--prise {
    bottom: 8px;
    left: 10px;
  }
  .history__card--prise__text {
    text-align: left;
  }
  .history__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 204px;
  }
  .history__info--button {
    margin-right: 12px;
  }
  .history__info--title {
    max-width: 500px;
    margin-top: 23px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .history__info--text {
    margin-top: 24px;
    margin-right: 13px;
    text-align: center;
    width: 568px;
  }
  .email {
    margin-top: -4px;
    height: 402px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .email__container {
    height: 402px;
    max-width: 768px;
    margin: 0;
  }
  .email__imput {
    margin-top: 57px;
    margin-left: 161px;
  }
  .email__text {
    width: 436px;
    text-align: center;
    margin-top: 14px;
    margin-left: 166px;
  }
  .email__svg {
    object-fit: fill;
    height: 131%;
    width: 74%;
    left: -1px;
    bottom: 0;
  }
  .email__svg--1 {
    width: 41%;
    bottom: -294px;
  }
}

@media (max-width: 425px) {
  .displey-none {
    display: none;
  }
  .history-container {
    max-width: 415px;
    min-width: 415px;
  }
  .history__swiper-container {
    left: 0;
    right: 0;
    height: 100%;
    max-width: 280px;
  }
  .history {
    height: 1181px;
    margin-bottom: 40px;
    justify-content: center;
  }
  .history__info--text {
    margin-right: 0;
    width: 100%;
  }
  .history__card {
    margin: 0;
    min-height: 408px;
    max-width: 280px;
  }
  .history__cards {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .history-button {
    left: 0;
  }
  .container {
    max-width: 415px;
  }
  .selection__img {
    flex-basis: 100%;
    left: -95%;
  }
  .selection__title {
    font-family: "hkgrotesk";
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .selection__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .selection__button--sel {
    margin-top: 24px;
    margin-left: 20%;
  }
  .selection__button--ready {
    width: 196px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 381px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .prise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prise__box {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .advant__img {
    width: 290px;
    height: 300px;
    margin: 0;
  }
  .advant__img--photo {
    display: flex;
  }
  .advant__img--mine {
    margin: 18px 0 0 0;
    width: 138px;
    height: 97px;
  }
  .advant__img--mini {
    margin: 18px 18px 0 0;
    width: 138px;
    height: 97px;
  }
  .advant__info {
    max-width: 415px;
    margin-left: 0;
  }
  .advant__info--title {
    max-width: 280px;
    margin: auto;
    font-family: "hkgrotesk";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .advant__info--text {
    max-width: 280px;
    margin: 20px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .advant__info--link {
    display: none;
  }
  .trend__header--title {
    width: 101px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .trend__header--text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
  }
  .trend__card {
    width: 140px;
    height: 234px;
  }
  .trend__card--title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .trend__card--prise {
    width: 100%;
    justify-content: start;
  }
  .trend__card--prise__li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .trend__card--prise__ico {
    width: 14px;
    height: 16px;
  }
  .trend__card--img {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini__img {
    top: 40px;
    left: 57.5px;
    right: 57.5px;
  }
  .trend__card--mini__text {
    align-content: center;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .comit__text {
    margin-left: 0;
    margin-right: 0;
    width: 415px;
  }
  .comit__container {
    width: 425px;
  }
  .email {
    margin-top: 321px;
    height: 402px;
    display: flex;
    position: relative;
  }
  .email__container {
    height: 402px;
    max-width: 425px;
    margin: 0;
  }
  .email__imput {
    min-height: 100px;
    width: 400px;
    margin: 57px 0 auto;
  }
  .email__input {
    width: 400px;
    height: 48px;
  }
  .email__input__icon {
    width: 16px;
    height: 18px;
    top: 0;
  }
  .email__input__button {
    bottom: 0;
  }
  .email__text {
    text-align: center;
    margin: 14px  0 auto;
  }
  .email__svg {
    display: none;
  }
  .email__svg--1 {
    display: none;
  }
}

@media (max-width: 320px) {
  .history-container {
    max-width: 290px;
    min-width: 290px;
  }
  .history__swiper-container {
    top: 335px;
    width: 100%;
    right: 0;
  }
  .history {
    margin-top: -87px;
  }
  .history__card {
    right: 1px;
    width: 270px;
    margin-bottom: 22px;
    max-height: 407px;
  }
  .history__card--prise {
    top: 257px;
    max-height: 150px;
    padding-top: 18px;
    padding-left: 20px;
    left: 5px;
  }
  .history__card--prise__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .history__card--img {
    height: 277px;
  }
  .history__info {
    padding-top: 45px;
  }
  .history__info--title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
  }
  .history__info--text {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  .history-button {
    top: 262px;
    width: 48px;
    height: 48px;
    object-fit: fill;
    left: 0;
  }
  .history-button--prev {
    top: 261px;
    left: 89px;
  }
  .history-button--next {
    left: 152px;
  }
  .container {
    max-width: 290px;
  }
  .header {
    width: 272px;
    padding-top: 20px;
    padding-bottom: 53px;
  }
  .header__mobail {
    right: 0;
  }
  .selection {
    min-height: 899px;
  }
  .selection__img {
    left: -125%;
  }
  .selection__title {
    margin-top: 13px;
    font-family: "hkgrotesk";
    margin-left: -7px;
  }
  .selection__text {
    margin-top: 24px;
    margin-left: 5px;
    width: 280px;
  }
  .selection__button--ready {
    margin-top: 369px;
    margin-left: 16%;
  }
  .selection__button--sel {
    width: 257px;
    height: 48px;
    margin-left: 6%;
  }
  .selection__button--sel__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  .prise {
    margin-top: 16px;
    margin-left: 8px;
    width: 274px;
    flex-wrap: wrap;
  }
  .prise__button {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
  .prise__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .advant {
    margin-top: 56px;
  }
  .advant__info--title {
    height: 72px;
    min-width: 290px;
  }
  .advant__info--text {
    height: 196px;
  }
  .advant__img {
    min-width: 290px;
    max-width: 290px;
  }
  .advant__img--mini {
    margin-top: 14px;
    margin-right: 14px;
  }
  .advant__img--mine {
    margin-top: 14px;
  }
  .trend {
    margin-top: 115px;
  }
  .trend__card--photo__6 {
    object-position: 50% -95%;
  }
  .trend__flex {
    margin-top: -5px;
    padding: 0;
  }
  .trend__flex--wrap {
    display: flex;
    width: 290px;
    margin-right: 0;
  }
  .trend__header {
    align-items: center;
    margin-bottom: 36px;
  }
  .trend__header--title {
    margin-top: 1px;
    margin-left: 1px;
    width: 101px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .trend__header--text {
    width: 218px;
    margin: 26.5px 0 auto;
    justify-content: space-between;
    min-width: 218px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
  }
  .trend__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .trend__card {
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 20px;
    max-width: 140px;
    height: 234px;
  }
  .trend__card--title {
    height: 20px;
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .trend__card--prise {
    width: 100%;
    justify-content: start;
  }
  .trend__card--prise__li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .trend__card--prise__ico {
    object-fit: cover;
    width: 14px;
    height: 32px;
  }
  .trend__card--prise__ico--ico {
    object-fit: fill;
  }
  .trend__card--img {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini {
    width: 140px;
    height: 170px;
    margin-left: 0;
  }
  .trend__card--mini__img {
    top: 38px;
    left: 52.5px;
    right: 57.5px;
  }
  .trend__card--mini__text {
    width: 140px;
    left: -1px;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-content: center;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .comit {
    margin-top: 540px;
    height: 100%;
  }
  .comit__img {
    width: 70px;
    height: 81px;
  }
  .comit__container {
    max-width: 280px;
  }
  .comit__text {
    max-width: 280px;
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.12px;
  }
  .comit__title {
    margin: auto;
    width: 145px;
    margin-top: 24px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .displey-none {
    display: none;
  }
  .comit__text {
    margin-left: 0;
    margin-right: 0;
    width: 415px;
  }
  .comit__container {
    width: 425px;
  }
  .email {
    margin-top: 56px;
    height: 414px;
    display: flex;
    position: relative;
  }
  .email__container {
    height: 402px;
    max-width: 320px;
    margin: 0;
  }
  .email__imput {
    min-height: 120px;
    width: 280px;
    margin: -1px 0 auto;
    top: -6px;
    left: 20px;
  }
  .email__input {
    border: none;
    border-radius: 8px;
    width: 280px;
    height: 48px;
    margin-bottom: 1px;
  }
  .email__input--img {
    left: 20px;
    top: 16px;
    width: 16px;
    height: 18px;
  }
  .email__input--button {
    border: none;
    border-radius: 8px;
    margin-top: 22px;
    width: 280px;
    height: 48px;
    left: 0;
    bottom: 0;
  }
  .email__text {
    width: 100%;
    text-align: center;
    margin: 8px 0 auto;
  }
  .email__text--title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
  }
  .email__text--txt {
    margin: 28px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  .email__svg {
    display: none;
  }
  .email__svg--1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  button:hover {
    opacity: 75%;
  }
  .header__text:hover {
    border-bottom: 1px solid;
  }
  .advant__info--link:hover {
    border-bottom: 2px solid;
    border-color: #1565D8;
  }
  .history__card--prise__link:hover {
    border-bottom: 2px solid;
    border-color: #1565D8;
  }
  .history-button--next:hover {
    border: 2px solid #183B56;
    box-sizing: border-box;
    border-radius: 2000px;
    transform: scale(1, 1);
    background-position: center;
    background-position-y: -2px;
    background-image: url(../img/icon/button-right.svg);
  }
  .history-button--prev:hover {
    border: 2px solid #183B56;
    box-sizing: border-box;
    border-radius: 2000px;
    transform: scale(-1, -1);
    background-position: center;
    background-position-y: -3px;
    background-image: url(../img/icon/button-right.svg);
  }
  .trend__header--txt:hover {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #183B56;
  }
}
/*# sourceMappingURL=stile.css.map */