.header {
  padding: 26px 0;
}

.header__mobail {
  display: none;
  position: absolute;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav--link {
  display: flex;
  margin-right: 50px;
  flex-wrap: nowrap;
}

.header__logo {
  margin-left: 4px;
  max-width: 90px;
  max-height: 28px;
  margin-right: 393px;
}

.header__link {
  justify-content: center;
}

.header__text {
  margin-left: 3px;
  margin-right: 38px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.header__text--contact {
  margin-left: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.header__button {
  width: 101px;
  height: 48px;
  padding: 13px 24px;
  border: 2px solid #1565D8;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  color: #1565D8;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.selection {
  margin-top: 38px;
  max-width: 1280px;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.selection__img {
  z-index: -10;
  position: absolute;
  right: 0;
  left: 0;
}

.selection__img::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%);
}

.selection__button--ready {
  margin-top: 62px;
  margin-left: 44px;
  width: 175px;
  height: 32px;
  color: #36B37E;
  background-color: rgba(54, 179, 126, 0.1);
  border: none;
  border-radius: 2000px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #36B37E;
}

.selection__button--sel {
  width: 259px;
  height: 55px;
  background: #183B56;
  border: none;
  border-radius: 8px;
  margin: 52.5px 0 0 0;
  margin-left: 45px;
}

.selection__button--sel__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.selection__title {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #183B56;
  max-width: 425px;
  margin: 28px 0 0 0;
  margin-left: 43px;
}

.selection__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  max-width: 652px;
  margin: 28px 0 0 0;
  margin-left: 45px;
}

.selection__text--blok {
  display: flex;
}

.selection__text--button {
  padding: 0;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  border: 0.5px solid #1565D8;
  margin-right: 0 8px;
}

.selection__text--link {
  align-items: center;
  align-content: center;
  height: 36px;
}

.prise {
  display: flex;
  width: 446px;
  height: 36px;
  margin-top: 48.5px;
  margin-left: 47px;
  margin-bottom: 46px;
}

.prise__button {
  padding: 0;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  border: none;
}

.prise__box {
  max-width: 163px;
  height: 36px;
  margin-right: 43px;
}

.prise__box--link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 163px;
  height: 36px;
}

.prise__text {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #183B56;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "hkgrotesk";
  src: url("../fonts/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "locl" 0;
  font-display: swap;
}

.container {
  max-width: 1140px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-header {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 304px;
  height: 324px;
  padding: 36px 24px;
  background: #FFFFFF;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  display: none;
}

.modal-header--visible {
  display: flex;
}

.modal__close {
  position: absolute;
  right: 16px;
  top: 12px;
  border: none;
}

.modal__blok {
  display: none;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal__button {
  width: 256px;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid #1565D8;
  cursor: pointer;
}

.modal__button--text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1565D8;
}

.modal__menu {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #183B56;
}

.advant {
  display: flex;
  margin-top: 120px;
}

.advant__img {
  margin-left: 8px;
  height: 490px;
  min-width: 320px;
  overflow: hidden;
  margin-right: 30px;
  border-radius: 8px;
}

.advant__img--mine {
  top: 260px;
  left: 350px;
  width: 320px;
  height: 230px;
  overflow: hidden;
  border-radius: 8px;
}

.advant__img--mini {
  left: 350px;
  width: 320px;
  height: 230px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 8px;
}

.advant__info {
  max-width: 412px;
  height: 426px;
  margin-left: 57px;
}

.advant__info--text {
  width: 392px;
  height: 225px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.advant__info--title {
  width: 412px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.advant__info--link {
  margin-left: 2px;
  display: flex;
  align-items: center;
  width: 259px;
  height: 25px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #1565D8;
  display: flex;
}

.advant__info--icon {
  display: flex;
  max-width: 13px;
  max-height: 16px;
  margin-left: 19px;
}

.trend {
  margin-top: 145px;
}

.trend__container {
  max-width: 1135px;
}

.trend__header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.trend__header--title {
  min-width: 172px;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 687px;
  font-family: "HKGrotesk-bold",serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.trend__header--text {
  display: flex;
  justify-content: space-between;
  max-height: 25px;
  margin-right: 38px;
  min-width: 285px;
  max-width: 285px;
}

.trend__header--txt:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.trend__header--txt {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #5A7184;
}

.trend__card {
  margin-right: 31px;
  width: 260px;
  height: 441px;
  margin-bottom: 50px;
}

.trend__card--img {
  width: 260px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.trend__card--title {
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 10px;
  height: 32px;
}

.trend__card--photo {
  object-position: 43% 50%;
}

.trend__card--photo__1 {
  object-position: 50% -170%;
  transform: scale(2, 2);
  margin-left: 22px;
}

.trend__card--photo__2 {
  object-position: 50% -65%;
  transform: scale(-1.5, 1.5);
  margin-left: -2px;
}

.trend__card--photo__3 {
  object-position: 50% 75%;
  margin-left: 8px;
  transform: scale(1.5, 1.5);
}

.trend__card--photo__4 {
  object-position: 50% -28%;
  margin-left: 5px;
  transform: scale(1.2, 1.2);
}

.trend__card--photo__5 {
  object-position: 50% -193%;
  margin-left: 25px;
  transform: scale(2.3, 2.3);
}

.trend__card--photo__6 {
  object-position: 50% -206%;
  margin-left: 4px;
  transform: scale(2, 2);
}

.trend__card--prise {
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
}

.trend__card--prise__li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin-left: 10px;
}

.trend__card--prise__ico {
  cursor: pointer;
  margin-right: 10px;
  width: 23px;
  height: 32px;
}

.trend__card--prise__ico--ico {
  object-fit: none;
}

.trend__card--mini {
  width: 260px;
  height: 350px;
  background-color: #1565D8;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.trend__card--mini__img {
  position: absolute;
  width: 28px;
  right: 116px;
  bottom: 120px;
  height: 31px;
  top: 123px;
  left: 114px;
}

.trend__card--mini__text {
  top: 182px;
  left: 23px;
  right: 22px;
  buttom: 104px;
  position: absolute;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.trend__flex {
  width: 100%;
  padding-left: 12px;
}

.trend__flex--wrap {
  width: 100%;
  display: flex;
}

.comit {
  margin-top: 96px;
}

.comit__container {
  width: 800px;
  min-height: 100%;
}

.comit__img {
  margin: auto;
  justify-content: center;
  width: 80px;
  height: 92px;
}

.comit__img--icon {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-left: 9px;
}

.comit__text {
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
  color: #183B56;
}

.comit__title {
  margin-top: 28px;
  margin-bottom: 53px;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #183B56;
}

.swiper-pagination-bullet {
  color: #B3BAC5;
  border-radius: 2000px;
  width: 5px;
  height: 5px;
}

.swiper-pagination-bullet-active {
  width: 5px;
  height: 5px;
  background: #183B56;
  border-radius: 50%;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .header__logo {
    margin-right: 380px;
  }
  .selection {
    max-width: 1100px;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 986px;
  }
  .header__logo {
    margin-right: 180px;
  }
  .selection__button--ready {
    z-index: 10;
  }
  .advant {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advant__img {
    width: 322px;
    height: 490px;
  }
  .advant__img--mine {
    width: 320px;
    height: 230px;
  }
  .advant__img--mini {
    width: 320px;
    height: 230px;
  }
  .advant__info {
    margin-top: 40px;
    max-width: 672px;
    height: 277px;
  }
  .advant__info--title {
    width: 565px;
    margin-top: 40px;
  }
  .advant__info--text {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 672px;
    height: 150px;
  }
  .trend {
    margin-top: 180px;
  }
  .trend__header {
    justify-content: space-between;
  }
  .trend__header--title {
    margin-right: 50px;
  }
  .trend__card {
    margin-right: 30px;
  }
  .trend__flex {
    justify-content: start;
  }
  .comit {
    margin-top: 80px;
  }
}

@media (max-width: 986px) {
  container: 650px;
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  .header {
    max-width: 650px;
    margin: auto;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav {
    position: relative;
  }
  .header__nav--link {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__mobail {
    display: flex;
    width: 22px;
    right: 60px;
    height: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }
  .header__mobail--button {
    height: 2px;
    width: 24px;
    background-color: #3A4C66;
  }
  .selection {
    margin-top: -5px;
  }
  .selection__img {
    right: -160px;
    height: 100%;
  }
  .selection__title {
    font-family: "hkgrotesk";
    max-width: 365px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #183B56;
    margin-top: 24px;
    margin-left: 27px;
  }
  .selection__text {
    max-width: 407px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 27px;
  }
  .selection__button--ready {
    margin-left: 27px;
  }
  .selection__button--sel {
    margin-left: 27px;
    margin-top: 35px;
  }
  .prise {
    margin-left: 27px;
    margin-top: 40px;
  }
  .prise__box {
    margin-top: 3px;
    margin-right: 37px;
  }
  .advant {
    margin-top: 74px;
    justify-content: center;
  }
  .advant__img {
    width: 322px;
    height: 490px;
    margin-right: 30px;
    flex-wrap: nowrap;
  }
  .advant__img--mine {
    margin-left: 0;
    width: 320px;
    height: 230px;
  }
  .advant__img--mini {
    width: 320px;
    height: 230px;
  }
  .advant__info {
    margin-left: 0;
  }
  .advant__info--title {
    margin-top: 0;
    height: 60px;
  }
  .advant__info--text {
    height: 144px;
  }
  .advant__info--link {
    width: 260px;
  }
  .trend {
    margin-top: 75px;
  }
  .trend__header {
    flex-direction: column;
  }
  .trend__header--title {
    margin-right: 0;
  }
  .trend__header--text {
    width: 285px;
    margin: 27.5px 0 auto;
  }
  .trend__card {
    margin-left: 48px;
    margin-right: 0;
    width: 280px;
  }
  .trend__card--prise {
    width: 100%;
  }
  .trend__card--img {
    width: 280px;
    height: 350px;
  }
  .trend__card--mini {
    width: 280px;
    height: 350px;
    margin-left: 48px;
  }
  .trend__card--mini__img {
    object-fit: none;
    width: 37px;
    height: 38px;
    top: 118.5px;
    left: 121.5px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
  }
  .trend__card--title {
    margin-top: 23px;
  }
  .trend__card--photo {
    object-position: 100% 50%;
  }
  .trend__card--photo__1 {
    object-position: 50% -85%;
  }
  .trend__card--photo__2 {
    object-position: 50% -20%;
  }
  .trend__card--photo__4 {
    object-position: 50% -10%;
  }
  .trend__card--photo__5 {
    object-position: 50% -105%;
  }
  .trend__card--photo__6 {
    object-position: 50% -125%;
  }
  .trend__flex {
    margin-top: 54px;
  }
  .trend__flex--wrap {
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
  }
  .comit {
    margin-top: 28px;
  }
  .comit__img--icon {
    margin-left: 0;
  }
  .comit__container {
    width: 630px;
  }
  .comit__text {
    margin-top: 28px;
  }
  .comit__title {
    margin-bottom: 33px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 415px;
  }
  .selection__img {
    flex-basis: 100%;
    left: -95%;
  }
  .selection__title {
    font-family: "hkgrotesk";
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .selection__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .selection__button--sel {
    margin-top: 24px;
    margin-left: 20%;
  }
  .selection__button--ready {
    width: 196px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 381px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .prise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prise__box {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .advant__img {
    width: 290px;
    height: 300px;
    margin: 0;
  }
  .advant__img--photo {
    display: flex;
  }
  .advant__img--mine {
    margin: 18px 0 0 0;
    width: 138px;
    height: 97px;
  }
  .advant__img--mini {
    margin: 18px 18px 0 0;
    width: 138px;
    height: 97px;
  }
  .advant__info {
    max-width: 415px;
    margin-left: 0;
  }
  .advant__info--title {
    max-width: 280px;
    margin: auto;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .advant__info--text {
    max-width: 280px;
    margin: 20px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .advant__info--link {
    display: none;
  }
  .trend__header--title {
    width: 101px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .trend__header--text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
  }
  .trend__card {
    width: 140px;
    height: 234px;
  }
  .trend__card--title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .trend__card--prise {
    width: 100%;
    justify-content: start;
  }
  .trend__card--prise__li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .trend__card--prise__ico {
    width: 14px;
    height: 16px;
  }
  .trend__card--img {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini__img {
    top: 40px;
    left: 57.5px;
    right: 57.5px;
  }
  .trend__card--mini__text {
    align-content: center;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 290px;
  }
  .header {
    width: 272px;
    padding-top: 20px;
    padding-bottom: 53px;
  }
  .header__mobail {
    right: 0;
  }
  .selection {
    min-height: 899px;
  }
  .selection__img {
    left: -125%;
  }
  .selection__title {
    margin-top: 16px;
    font-family: "hkgrotesk";
    margin-left: 10px;
  }
  .selection__text {
    margin-left: 10px;
  }
  .selection__button--ready {
    margin-top: 369px;
    margin-left: 16%;
  }
  .selection__button--sel {
    width: 257px;
    height: 48px;
    margin-left: 6%;
  }
  .prise {
    margin-top: 16px;
    margin-left: 8px;
    width: 274px;
    flex-wrap: wrap;
  }
  .prise__button {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
  .prise__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .advant {
    margin-top: 56px;
  }
  .advant__info--title {
    height: 72px;
    min-width: 290px;
  }
  .advant__info--text {
    height: 196px;
  }
  .advant__img {
    min-width: 290px;
    max-width: 290px;
  }
  .advant__img--mini {
    margin-top: 14px;
    margin-right: 14px;
  }
  .advant__img--mine {
    margin-top: 14px;
  }
  .trend {
    margin-top: 115px;
  }
  .trend__card--photo__6 {
    object-position: 50% -95%;
  }
  .trend__flex {
    margin-top: -5px;
    padding: 0;
  }
  .trend__flex--wrap {
    display: flex;
    width: 290px;
    margin-right: 0;
  }
  .trend__header {
    align-items: center;
    margin-bottom: 36px;
  }
  .trend__header--title {
    width: 101px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #183B56;
  }
  .trend__header--text {
    width: 218px;
    margin-right: 0;
    justify-content: space-between;
    min-width: 218px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
  }
  .trend__flex {
    justify-content: space-between;
  }
  .trend__card {
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 20px;
    max-width: 140px;
    height: 234px;
  }
  .trend__card--title {
    height: 20px;
    margin-top: 13px;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .trend__card--prise {
    width: 100%;
    justify-content: start;
  }
  .trend__card--prise__li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .trend__card--prise__ico {
    object-fit: cover;
    width: 14px;
    height: 32px;
  }
  .trend__card--prise__ico--ico {
    object-fit: fill;
  }
  .trend__card--img {
    width: 140px;
    height: 170px;
  }
  .trend__card--mini {
    width: 140px;
    height: 170px;
    margin-left: 5px;
  }
  .trend__card--mini__img {
    top: 38px;
    left: 52.5px;
    right: 57.5px;
  }
  .trend__card--mini__text {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-content: center;
    top: 87px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .comit {
    margin-top: 29px;
  }
  .comit__img {
    width: 70px;
    height: 81px;
  }
  .comit__container {
    width: 280px;
  }
  .comit__text {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.12px;
  }
  .comit__title {
    margin: auto;
    width: 145px;
    margin-top: 24px;
    margin-bottom: 29px;
  }
}
/*# sourceMappingURL=stile.css.map */