.header {
  padding: 36px 0;
}

.header__mobail {
  display: none;
  position: absolute;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav--link {
  flex-wrap: nowrap;
  width: 100%;
}

.header__logo {
  width: 90px;
  height: 28px;
  margin-right: 393px;
}

.header__link {
  justify-content: center;
}

.header__text {
  margin-right: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.header__button {
  width: 101px;
  padding: 13px 24px;
  bottom: 26%;
  border: 2px solid #1565D8;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  color: #1565D8;
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.prise {
  display: flex;
  margin-top: 49px;
}

.prise__box {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.prise__button {
  max-width: 36px;
  max-height: 36px;
  padding: 0;
  margin-right: 8px;
  border: 0.75px solid #1565D8;
  border-radius: 12px;
}

.prise__link {
  margin-top: 8px;
  margin-bottom: 8px;
}

.prise__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.selection {
  position: relative;
  overflow: hidden;
}

.selection__img {
  z-index: -10;
  position: absolute;
  right: 0;
  left: 0;
}

.selection__img::after {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%);
}

.selection__button--ready {
  color: #36B37E;
  background-color: rgba(54, 179, 126, 0.1);
  border: none;
  border-radius: 2000px;
  margin-left: 20px;
}

.selection__button--sel {
  width: 259px;
  height: 55px;
  background: #183B56;
  border: none;
  border-radius: 8px;
  margin: 53px 0 0 0;
  margin-left: 20px;
}

.selection__button--sel__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.selection__title {
  font-family: "HKGrotesk-bold",serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #183B56;
  max-width: 425px;
  margin: 28px 0 0 0;
  margin-left: 20px;
}

.selection__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  max-width: 652px;
  margin: 28px 0 0 0;
  margin-left: 20px;
}

.selection__text--blok {
  display: flex;
}

.selection__text--button {
  padding: 0;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  border: 0.5px solid #1565D8;
  margin-right: 0 8px;
}

.selection__text--link {
  align-items: center;
  align-content: center;
  height: 36px;
}

.prise {
  margin-left: 20px;
  margin-bottom: 46px;
}

.prise__text {
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "HKGrotesk-bold",serif;
  src: url("fonts/HKGrotesk-bold") format("woff");
  src: url("fonts/HKGrotesk-bold") format("woff2");
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  min-width: 100%;
  object-fit: 100%;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .header__logo {
    margin-right: 380px;
  }
  .selection {
    max-width: 1100px;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 986px;
  }
  .header__logo {
    margin-right: 180px;
  }
  .selection__button--ready {
    z-index: 10;
  }
}

@media (max-width: 986px) {
  container: 650px;
}

@media (max-width: 768px) {
  .container {
    max-width: 650px;
  }
  .header__nav {
    position: relative;
  }
  .header__nav--link {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__mobail {
    display: flex;
    width: 22px;
    right: 0;
    height: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }
  .header__mobail--button {
    height: 2px;
    width: 24px;
    background-color: #3A4C66;
  }
  .selection__img {
    right: -160px;
    height: 100%;
  }
  .selection__title {
    font-family: "HKGrotesk-bold",serif;
    max-width: 365px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #183B56;
    margin-top: 24px;
  }
  .selection__text {
    max-width: 407px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
  }
  .selection__button--sel {
    margin-top: 35px;
  }
  .prise {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 400px;
  }
  .selection__img {
    flex-basis: 100%;
    left: -95%;
  }
  .selection__title {
    font-family: "HKGrotesk-bold",serif;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .selection__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .selection__button--sel {
    margin-top: 24px;
    margin-left: 20%;
  }
  .selection__button--ready {
    width: 196px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 381px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .prise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prise__box {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
  .selection__img {
    left: -125%;
  }
  .selection__title {
    font-family: "HKGrotesk-bold",serif;
    margin-left: 10px;
  }
  .selection__text {
    margin-left: 10px;
  }
  .selection__button--ready {
    margin-left: 20%;
  }
  .selection__button--sel {
    margin-left: 10%;
  }
  .prise {
    margin-left: 0;
    width: 320px;
    flex-wrap: wrap;
  }
}

.modal-header {
  position: fixed;
  background-color: #1565D8;
  right: 15px;
  top: 70px;
  width: 150px;
  height: 200px;
  border-radius: 12px;
  overflow-y: scroll;
  display: none;
}

.modal-header::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 60%;
  background-color: #3b90f1;
}

.modal-header--visible {
  display: flex;
}

.modal__close {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
}

.modal__blok {
  display: none;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__button {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border: 0.5px solid #1565D8;
  cursor: pointer;
}

.modal__button--text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1565D8;
}

.modal__menu {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #183B56;
}
/*# sourceMappingURL=stile.css.map */