*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
@font-face
  font-family: "HKGrotesk-bold",serif
  src: url("fonts/HKGrotesk-bold") format("woff")
  src: url("fonts/HKGrotesk-bold") format("woff2")
.container
  max-width: 1110px
  margin: auto
a
  text-decoration: none
img
  max-width: 100%
  min-width: 100%
  object-fit: 100%
