.header
  top: 0
  position: fixed
  width: 100%
  z-index: 800
  background-color: #fff
  &__container
    max-width: 1157px
    height: 100px
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    margin-left: 9px
    width: 90px
    height: 28px
  &__nav
    display: flex
    align-items: center
    flex-direction: row
  &__text
    font-family: 'Open Sans'
    margin-left: 3px
    margin-right: 35px
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #183B56
    &--contact
      margin-left: 3px
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #183B56
  &__mobail
    display: none
  &__button
    font-family: 'Open Sans'
    margin-left: 12px
    width: 101px
    height: 48px
    padding: 11px 22px
    border: 2px solid #1565D8
    box-sizing: border-box
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    border-radius: 8px
    color: #1565D8
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    cursor: pointer
