.header
  padding: 36px 0
  &__mobail
    display: none
    position: absolute
  &__nav
    display: flex
    align-items: center
    &--link
      flex-wrap: nowrap
      width: 100%
  &__logo
    width: 90px
    height: 28px
    margin-right: 393px
  &__link
    justify-content: center
  &__text
    margin-right: 40px
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #183B56
  &__button
    width: 101px
    padding: 13px 24px
    bottom: 26%
    border: 2px solid #1565D8
    box-sizing: border-box
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    border-radius: 8px
    color: #1565D8
    margin-left: 10px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    cursor: pointer
.prise
  display: flex
  margin-top: 49px
  &__box
    margin-right: 10px
    display: flex
    justify-content: center
  &__button
    max-width: 36px
    max-height: 36px
    padding: 0
    margin-right: 8px
    border: 0.75px solid #1565D8
    border-radius: 12px
  &__link
    margin-top: 8px
    margin-bottom: 8px
  &__text
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.2px
    color: #183B56
