.trend
  margin-top: 145px
  &__container
    max-width: 1135px
  &__header
    display: flex
    align-items: center
    margin-bottom: 48px
    &--title
      min-width: 172px
      height: 60px
      margin-top: 0
      margin-bottom: 0
      margin-right: 678px
      font-family: "HKGrotesk-bold",serif
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: #183B56
    &--text
      display: flex
      justify-content: space-between
      max-height: 25px
      margin-right: 38px
      min-width: 285px
      max-width: 285px
    &--txt:hover
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #183B56
    &--txt
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      color: #5A7184
  &__card
    width: 260px
    height: 441px
    margin-bottom: 50px
    &--img
      width: 260px
      height: 350px
      border-radius: 8px
      overflow: hidden
    &--title
      font-family: "HKGrotesk-bold",serif
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      color: #183B56
      margin-top: 20px
      margin-bottom: 3px
      margin-left: 10px
      height: 32px
    &--prise
      display: flex
      justify-content: space-between
      width: 260px
      align-items: center
      &__li
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 36px
        color: #5A7184
        margin-left: 10px
      &__ico
        cursor: pointer
        margin-right: 10px
        width: 23px
        height: 32px
    &--mini
      width: 260px
      height: 350px
      background-color: #1565D8
      border-radius: 8px
      overflow: hidden
      position: relative
      &__img
        position: absolute
        width: 28px
        height: 37px
        top: 120px
        left: 116px
        right: 116px
        bottom: 120px
      &__text
        top: 182px
        left: 23px
        right: 22px
        buttom: 104px
        position: absolute
        font-family: "HKGrotesk-bold",serif
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 32px
        text-align: center
        letter-spacing: 0.2px
        color: #FFFFFF
  &__flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
